<div *ngIf="source; else noSource">

<app-theme-banners [data]="data" *ngIf="data.jnl_rdf != 75"></app-theme-banners>

  <div class="container">
    <div class="row">
        <div *ngFor="let issue of source.source.issue" class="col-12 col-lg-4">
          <div class="cover issue p-2 m-2" (click)="viewIssue(issue.ID)">
            <div class="issue-name">{{ issue.acron }}</div>
            <div class="issue-nr">{{ issue.vol }}</div>
            <div class="issue-place">{{ issue.place }}</div>
            <div class="issue-year">{{ issue.year }}</div>
          </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noSource>
  <div class="container">
    <p>Source data is not available.</p>
  </div>
</ng-template>

<ng-template #noIssues>
  <div class="container">
    <p>No issues available for this source.</p>
  </div>
</ng-template>

<div class="mb-5"></div>
