<div id="footer" class="foot_tag mt-5">
      <a href="#home"><i class="bi bi-house-up-fill big text-blue"></i></a>
</div>

<footer class="mt-5">
  <div class="container-fluid">
    <div class="row footer1">
      <div class="col-12">BRAPCI &copy; 2010-{{ brapci_data }} - Build{{version}}</div>
    </div>
    <div class="row footer2">
      <div class="col-1"></div>
      <div class="col-12 col-lg-6">
        <b>BRAPCI - Base de Dados em Ciência da Informação</b><br />
        <a href="https://ufrgs.br/ppgcin" target="_blank" class="link" style="color: white;">Programa de Pós-Graduação em Ciência da Informação (PPGCIN)</a><br />
        <a href="https://ufrgs.br/" target="_blank" class="link" style="color: white;">Universidade Federal do Rio Grande do Sul</a>
        |
        <a href="https://ufpr.br/" target="_blank" class="link" style="color: white;">Universidade Federal do Paraná</a>  <br />
        Versão 2023.08.28 beta | 2010-{{ brapci_data }}<br />
        <a href="mailto:brapcici@gmail.com" target="_blank" class="link" style="color: white;">brapcici&commat;gmail.com</a>
        |
        <a href="mailto:brapcici@gmail.com" target="_blank" class="link" style="color: white;">renefgj&commat;gmail.com</a><br />
      </div>

      <div class="col-12 col-lg-12 text-end">
        <div *ngIf="section" class="mt-2">
          Section: {{section}}
        </div>
      </div>
    </div>
  </div>
</footer>
