<div class="container">
  <div class="row">
    <div class="col-12 col-sm-1">Classes</div>

    <div class="col-12 col-sm-11 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-2 col-sm-3" *ngFor="let item of books">
            <a
              [routerLink]="['/v/' + item.ID]"
              routerLinkActive="router-link-active"
              class="link"
              target="_blank"
            >
              <div class="container-a2">
                <ul class="caption-style-2">
                  <li>
                    <img
                      *ngIf="item.data.hasCover"
                      [src]="item.data.hasCover"
                      class="img-fluid cover"
                    />
                    <div class="caption">
                      <div class="blur"></div>
                      <div class="caption-text">
                        <b>
                          <span *ngIf="item.data.hasTitle">{{
                            item.data.hasTitle
                          }}</span>
                          <span *ngIf="!item.data.hasTitle">SEM TÌTULO</span>
                        </b>
                        <br />
                        <i *ngIf="item.data.hasAuthor">{{
                          item.data.hasAuthor
                        }}</i>
                        <br />
                        <!--
                  (ANO)
                  -->
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </a>

            <ul class="caption-style-2">
              <li>
                <div class="caption">
                  <div class="blur"></div>
                  <div class="caption-text">
                    <br />
                    <i>XX</i>
                    <br />
                    (2016)
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
