<head *ngIf="header" lang="pt">
  <title>{{ header.title }} - Brapci</title>
  <ng-container *ngIf="header.meta">
    <meta *ngFor="let xmeta of header.meta" name="{{ xmeta.name }}" content="{{ xmeta.content }}" />
  </ng-container>
  <meta name="DC.source" content="Base de Dados em Ciência da Informação - Brapci">
  <script async src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>
</head>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-HSS9RYF8ZS"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-HSS9RYF8ZS");
</script>
