<head *ngIf="header" lang="pt">
  <title>{{ header.title }} - Brapci</title>
  <meta *ngFor="let meta of metadata" name="meta.name" content="meta.content" />
</head>

<div *ngIf="metadata && metadata=='1'">
  {{ metadata | json}}
  <li *ngFor="let meta of metadata">
      name="{{meta.name}}" content="{{meta.content}}"
  </li>
</div>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-HSS9RYF8ZS"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-HSS9RYF8ZS");
</script>
