<head *ngIf="header" lang="pt">
  <title>{{ header.title }} - Brapci</title>
  <meta *ngFor="let meta of header.meta" name="{{meta.name}}" content="{{meta.content}}" />
  <script async src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>
</head>


<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-HSS9RYF8ZS"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-HSS9RYF8ZS");
</script>
