<h1>TOOLS</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <app-breadcrumbs [data]="road"></app-breadcrumbs>
      <h1>Lei de Bradford</h1>
      <p>
        Esta lei descreve a distribuição de artigos científicos entre revistas.
        Bradford descobriu que, para um determinado campo de estudo, um pequeno
        número de revistas publica a maior parte dos artigos relevantes,
        enquanto o restante é publicado em um número muito maior de revistas
        menos produtivas.
      </p>
    </div>
    <div class="col-12 col-lg-5">
      <h3>Como usar?</h3>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/qOUddBznpRU?si=YzIFfG2eC5Rv9-4c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>

      <div class="text-end small">
        <span class="small">Pessoas que utilizaram essa ferramenta</span>
        <br />
        <app-counter [service]="'bradford'" [counter]="0"></app-counter>
      </div>
    </div>
  </div>
</div>
