<div class="container mt-4 ">
  <div class="row"><div class="col-sm-12 bold">{{faceta}}</div></div>
</div>

<div class="catalog-container container">
  <div class="book-slider" [style.transform]="sliderTransform">
    <div
      *ngFor="let book of books; let i = index"
      class="book-item"
      [ngClass]="getBookClass(i)"
      (click)="selectBook(book)"
    >
      <img
        *ngIf="book.data.hasCover; else noCover"
        [src]="book.data.hasCover"
        alt="{{ book.title }}"
        class="book-cover book-item"
      />
      <ng-template #noCover>
        <div class="no-cover">Sem Capa</div>
      </ng-template>
    </div>
  </div>
  <button class="scroll-btn left" (click)="scrollLeft()">&#x25C0;</button>
  <button class="scroll-btn right" (click)="scrollRight()">&#x25B6;</button>
</div>

<div
  *ngIf="selectedBook"
  class="book-details"
  [@slideInAnimation]
  (click)="closeDetails()"
>
  <!-- Mostra livro -->
  <app-v-book [data]="data" [full]="full"></app-v-book>
</div>
