<div class="container">
  <div class="row">

    <div class="col-12 mt-5">
      <h2>Ferramentas Bibliométricas</h2>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center" *ngFor="let item of serv">
      <a
        *ngIf="item.type == 'B'"
        [routerLink]="['/tools/'] + item.url"
        routerLinkActive="router-link-active"
        class="link"
        [attr.aria-label]="'Ferramenta ' + item.name"
      >
        <div class="cover full pt-3 pb-3 rounded-2 mb-3 boxButton" style="min-height: 80px;" [innerHTML]="item.name"></div>
      </a>
    </div>

    <div class="col-12">
      <h2 class="mt-5">Ferramentas Textuais / Conceituais</h2>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 text-center" *ngFor="let item of conv">
      <a
        *ngIf="item.type == 'T'"
        [routerLink]="['/tools/'] + item.url"
        routerLinkActive="router-link-active"
        class="link"
        [attr.aria-label]="'Ferramenta ' + item.name"
      >
        <div class="cover full pt-3 pb-3 rounded-2 mb-3 boxButton" style="min-height: 80px;" [innerHTML]="item.name"></div>
      </a>
    </div>

    <div class="col-12">
      <h2 class="mt-5">Outros serviços</h2>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 text-center" *ngFor="let item of other">
      <a
        *ngIf="item.type == 'T'"
        [routerLink]="['/tools/'] + item.url"
        routerLinkActive="router-link-active"
        class="link"
        [attr.aria-label]="'Ferramenta ' + item.name"
      >
        <div class="cover full pt-3 pb-3 rounded-2 mb-3 boxButton" style="min-height: 80px;" [innerHTML]="item.name"></div>
      </a>
    </div>

  </div>
</div>
