<div class="container mt-5">
  <div class="row">
    <div class="col-sm-11 col-11">
      <h3>{{ data.publisher }}</h3>
      <app-brapci-id [data]="data"></app-brapci-id>
      <app-basket-select [data]="data.worksID"></app-basket-select>
    </div>

    <div class="col-sm-1 col-1">
      <div class="border border-secondary rounded text-center">
        <app-counter-smooth
          [targetNumber]="data?.worksID?.length"
        ></app-counter-smooth>
        Trabalhos
      </div>
    </div>

    <div class="col-sm-11 col-12">
      <app-production-works [works]="data.works"></app-production-works>
    </div>

    <div class="col-sm-1 col-12 text-center"></div>
  </div>
</div>
