<!-- Banner do Cabeçalho -->
<app-theme-banners [data]="data"></app-theme-banners>

<!-- Dados da Publicao -->
<div *ngIf="source">
  <app-banner-benancib
    *ngIf="source.source.id_jnl == '75'"
    [section]="'Enancib'"
  ></app-banner-benancib>
  <app-banner-ebbc
    *ngIf="source.source.id_jnl == 18"
    [section]="'EBBC'"
  ></app-banner-ebbc>
</div>
<div class="container" *ngIf="source">
  <div class="row">
    <div class="col-12">
      <h1>{{ source.source.name }}</h1>
      <h2>
        {{ source.nr }} {{ source.acron }}, {{ source.place }} -
        {{ source.year }}
      </h2>
    </div>
    <div class="col-12">
      <app-basket-select [data]="source.worksID"></app-basket-select>
    </div>
  </div>
</div>

<div class="container" *ngIf="source">
  <div class="row">
    <div class="col-2 text-center">
      <span style="font-size: 40px">{{ source.worksTotal }}</span>
      <br />
      TRABALHOS

      <br /><br />

      <span class="mt-5" style="font-size: 40px">{{
        source.authorsTotal
      }}</span>
      <br />
      AUTORES

      <br /><br />

      <span class="mt-5" style="font-size: 40px">{{
        source.totalAuthors
      }}</span>
      <br />
      AUTORES (total)

      <br /><br />
      <span class="mt-5" style="font-size: 40px">{{
        source.coAuthorsMedia
      }}</span>
      <br />
      MÉDIA (autores/trabalho)

  <br /><br />

  <table class="full p-0 text-center">
    <thead>
      <tr style="font-size: 0.6rem">
        <th scope="col">n. autores</th>
        <th scope="col">total trabalhos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coAuthors of source.coAuthors">
        <td class="fw-semibold text-secondary text-center">
          {{ coAuthors.name }}
        </td>

        <td>
          <span
            class="badge bg-secondary">
            {{ coAuthors.total }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

    </div>

    <div class="col-10">
      WORKS
      <ul *ngFor="let wk of source.works">
        <li>
          <b>Nome da Sessão - {{ wk.name }}</b>
          <ol>
            <li
              class="mt-2"
              style="margin: 0; padding: 0"
              *ngFor="let works of wk.data"
            >
              <a
                [routerLink]="['/v/' + works.ID]"
                [ngClass]="works.PDF == 1 ? 'text-primary' : 'text-danger'"
                class="link"
              >
                {{ works.LEGEND }}
                <br />
                <span class="small"
                  ><i>{{ works.AUTHORS }}</i></span
                >
              </a>
            </li>
          </ol>
        </li>
      </ul>
      AUTORES
      <ol>
        <li *ngFor="let author of source.authors">
          {{ author.name }} <sup>{{ author.total }}</sup>
        </li>
      </ol>
    </div>
  </div>
</div>
