<app-header [header]="header"></app-header>
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12 mb-5 mt-3">
      Revistas:
      <a
        (click)="selectPG('1')"
        class="ms-3 menu"
        [ngClass]="page == '1' ? 'active' : ''"
        >Lista com capas</a
      >
      <a
        (click)="selectPG('2')"
        class="ms-3 menu"
        [ngClass]="page == '2' ? 'active' : ''"
        >Lista de revistas</a
      >
      <a
        (click)="selectPG('3')"
        class="ms-3 menu"
        [ngClass]="page == '3' ? 'active' : ''"
        >Distribuição Geográfica</a
      >
    </div>
  </div>
  <!---- PAGE 3-->
  <!--app-map-brasil-highcharts -->
  <!--app-chat-brasil-highcharts-->

  <!---- PAGE 2-->
  <div class="row" *ngIf="page === '2'">
    <ol>
      <li class="col-12" *ngFor="let item of journals">
        <a
          [routerLink]="['/v/' + item.jnl_frbr]"
          class="title link"
          routerLinkActive="router-link-active"
          >{{ item.jnl_name }}</a
        >
      </li>
    </ol>
  </div>
  <!---- PAGE 1-->
  <div class="row" *ngIf="page === '1'">
    <div class="col-12 col-sm-6 col-lg-2 mb-2" *ngFor="let item of journals">
      <a
        [routerLink]="['/v/' + item.jnl_frbr]"
        routerLinkActive="router-link-active"
      >
        <img [src]="item.cover" class="img-fluid cover" style="width: 100%" />
      </a>
      <br />
      <a
        [routerLink]="['/journals/view/' + item.id_jnl]"
        class="small link"
        routerLinkActive="router-link-active"
        >{{ item.jnl_name }}</a
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
