<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <img
        *ngIf="data?.cover"
        [src]="data.cover"
        (error)="data.cover = 'path/to/default-image.jpg'"
        class="img-fluid cover"
        (click)="goURL(data.ID)"
      />

      <!--------------------------- PDF-->
      <app-component-pdf
        [url]="data.resource_pdf"
        [id]="data.id"
      ></app-component-pdf>

      <!--------------- Administracao -->
      <div *ngIf="userID">
        <hr>
        <!-------------- Admin -->
        <app-admin-icones [ID]="data.ID"></app-admin-icones>
      </div>

    </div>

    <div class="col-12 col-sm-9" *ngIf="data">
      <!-- DOI -->
      <app-doi-show [data]="data.data"></app-doi-show>

      <h2 class="bold mt-4">{{ data.title }}</h2>

      <h5 class="fst-italic mt-4" *ngIf="data.creator_author">
        <li
          *ngFor="let author of data.creator_author"
          style="list-style: none; padding: 0; margin: 0; padding-left: 15px"
        >
          <a href="/v/{{ author.ID }}" class="link"
            >{{ author.name }} <sup>{{ author.complement }}</sup>
          </a>
        </li>
      </h5>

      <div *ngIf="data.description" class="small mt-2">
        <b>Resumo</b>
        <p>{{ data.description }}</p>

      </div>

      <div *ngIf="data.subject">
          <app-subjects [data]="data.subject"></app-subjects>
      </div>


      <table class="table table-striped table-hover mt-5" style="padding-left: 15px">
        <thead>
          <tr>
            <th scope="col" class="text-center" width="20%">Nome</th>
            <th scope="col">Conteúdo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-end bold" >ISBN:</td>
            <td>{{ data.isbn }}</td>
          </tr>

          <tr>
            <td class="text-end bold" >Editora:</td>
            <td>{{ data.publisher }}</td>
          </tr>

          <tr>
            <td class="text-end bold" >Ano:</td>
            <td>{{ data.year }}</td>
          </tr>

        </tbody>
      </table>

      <!-- Sumary -->
      <app-book-summary [data]="data"></app-book-summary>
    </div>

    <!--------------- Cite -->
    <app-citation-note  *ngIf="full" [citacao]="data.cited"></app-citation-note>
    <app-tabs-nav *ngIf="full" [data]="data"></app-tabs-nav>
  </div>
</div>
