<div class="container" class="mt-0 mb-5">
  <h3>{{ toolsName }}</h3>
  <p>
    {{ toolsNameDescription }}
  </p>
  <app-form-file-input
    *ngIf="status == 0"
    [action]="action"
    (dataset)="updateDataset($event)"
  ></app-form-file-input>
  <div
    class="row border border-secondary rounded-top p-2 fw-bolder"
    *ngIf="dataset"
    style="background-color: darkslateblue; color: white"
  >
    {{ toolsName }}
  </div>

  <!--------------------------------------- PROCESS -->
  <div
    class="row border border-secondary rounded-bottom pt-2 pb-2 p-0"
    *ngIf="status == 1"
  >
    <div class="col-12 col-lg-12">
      <span style="font-size: 0.6em">Nome do arquivo:</span>
      <br />
      <span class="big">{{ dataset.file }}</span>
    </div>

    <div class="col-12 col-lg-12 pt-3 pb-3" *ngIf="emailSend">
      <span style="font-size: 0.6em">Confirmação de autoria</span>
      <br />
      <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
        <div class="mb-3">
          <label for="email" class="form-label">Informe seu e-mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="exemplo@dominio.com"
            required
          />
          <div
            *ngIf="
              emailForm.get('email')?.invalid && emailForm.get('email')?.touched
            "
            class="text-danger"
          >
            Por favor, insira um e-mail válido.
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary full"
          [disabled]="emailForm.invalid"
        >
          Enviar
        </button>
      </form>
    </div>

    <div class="col-12 col-lg-12 pt-3 pb-3" *ngIf="!emailSend">
      <button class="btn btn-primary full" (click)="process()">
        {{ buttonName }}
      </button>
    </div>
  </div>

  <!--------- Processando -->
  <div
    class="row border border-secondary rounded-bottom pt-2 pb-2 p-0"
    *ngIf="status == 2"
  >
    <app-wait-processing></app-wait-processing>
  </div>

  <!--------- Resultado -->
  <div
    class="row border border-secondary rounded-bottom pt-2 pb-2 p-0"
    *ngIf="status == 3"
  >
    <div class="col-12 col-lg-6">
      <br />
      <button class="btn btn-secondary full mt-2" (click)="restart()">
        REINICIAR
      </button>
    </div>
  </div>
</div>
