<div class="container">
  <div class="row">
    <!-- Cabeçalho -->
    <div class="header col-12 col-sm-12">
      <app-photo [data]="data"></app-photo>
      <div>
        <h1>{{ data.name }}</h1>
        <p><!-- Atuação --></p>
        <p>
          <strong>Afiliação Institucional:</strong>  Não identificado
        </p>
        <p><app-brapci-id [data]="data"></app-brapci-id></p>
        <p *ngIf="data.IDs">
            <app-icone-genere [data]="data.IDs"></app-icone-genere>
            &nbsp;
            &nbsp;
            <app-icone-brapci [data]="data.IDs"></app-icone-brapci>
            <app-icone-google-scholar [data]="data.IDs"></app-icone-google-scholar>
            <app-icone-lattes [data]="data.IDs"></app-icone-lattes>
            <app-icone-open-alex [data]="data.IDs"></app-icone-open-alex>
            <app-icone-orcd-id [data]="data.IDs"></app-icone-orcd-id>
        </p>

        <p><app-basket-select [data]="data.worksID"></app-basket-select></p>
      </div>
    </div>


    <!-- Formação Acadêmica -->
    <div class="section col-12 col-sm-8">
      <h2>Formação Acadêmica</h2>
      <p>
        <strong>Graduação:</strong> Não identificado
      </p>
      <p>
        <strong>Mestrado:</strong> Não identificado
      </p>
      <p>
        <strong>Doutorado:</strong> Não identificado
      </p>
    </div>

    <div class="col-sm-4 text=center">
      <table width="100%">
        <tr>
          <td width="50%">
            <div class="border border-secondary rounded-4 text-center p-0">
              <app-counter-smooth
                [targetNumber]="data?.works?.Article?.length"
              ></app-counter-smooth>
              <span class="counterSmooth small bold">Artigos</span>
            </div>
          </td>
          <td width="50%">
            <div class="border border-secondary rounded-4 text-center">
              <app-counter-smooth
                [targetNumber]="data?.works?.Proceeding?.length"
              ></app-counter-smooth>
              <span class="counterSmooth small bold">Eventos</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="border border-secondary rounded-4 text-center">
              <app-counter-smooth
                [targetNumber]="data?.works?.Book?.length"
              ></app-counter-smooth>
              <span class="counterSmooth small bold">Livros</span>
            </div>
          </td>
          <td>
            <div class="border border-secondary rounded-4 text-center">
              <app-counter-smooth
                [targetNumber]="data?.works?.BookChapter?.length"
              ></app-counter-smooth>
              <span class="counterSmooth small bold">Capítulos</span>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <!-- Biografia -->
    <div class="section col-12 col-sm-12">
      <h2>Biografia</h2>
      <p>
        Biografia
      </p>
    </div>

    <div class="col-12 col-sm-8">
      <!-- Grafico produção -->
      <div
        class="chart-container"
        style="background-color: #efefef; border: 2px solid #ccc"
      >
        <canvas id="MyProduction">{{ production }}</canvas>
      </div>

      <!-- Produção Científica -->
      <h2 class="section_h2">Produção Científica</h2>
      <h3 class="section_h3" *ngIf="data?.works?.Article?.length > 0" class="ms-4">
        Artigos <sup>({{ data?.works?.Article?.length }})</sup>
      </h3>
      <div *ngIf="data?.works?.Article?.length > 0" class="text-end small">
        Total: {{ data?.works?.Article?.length }}
      </div>
      <div class="ms-4" *ngIf="data?.works?.Article?.length > 0">
        <app-production-works
          [works]="data.works.Article"
        ></app-production-works>
      </div>

      <h3  class="section" *ngIf="data?.works?.Proceeding?.length > 0" class="ms-4">
        Proceeding
      </h3>
      <div *ngIf="data?.works?.Proceeding?.length > 0" class="text-end small">
        Total: {{ data?.works?.Proceeding?.length }}
      </div>
      <app-production-works
        [works]="data.works.Proceeding"
        *ngIf="data?.works?.Proceeding?.length > 0"
      ></app-production-works>

      <h3  class="section" *ngIf="data?.works?.Book?.length > 0" class="ms-4">Book</h3>
      <div *ngIf="data?.works?.Book?.length > 0" class="text-end small">Total: {{ data?.works?.Book?.length }}</div>
      <app-production-works
        [works]="data.works.Book"
        *ngIf="data?.works?.Book?.length > 0"
      ></app-production-works>

      <h3  class="section" *ngIf="data?.works?.BookChapter?.length > 0" class="ms-4">
        BookChapter
      </h3>
      <div *ngIf="data?.works?.BookChapter?.length > 0" class="text-end small">
        Total: {{ data?.works?.BookChapter?.length }}
      </div>
      <app-production-works
        [works]="data.works.BookChapter"
        *ngIf="data?.works?.BookChapter?.length > 0"
      ></app-production-works>

      <h2>Produção Tecnológica</h2>
      <ul>

      </ul>
    </div>

    <div class="col-sm-4 col-12">
      <app-coauthors [coauthors]="data.coauthors"></app-coauthors>
    </div>
  </div>
</div>

<div class="footer">
  © 2024 Perfil do Pesquisador - Todos os direitos reservados.
</div>
