<div class="container mt-5" *ngIf="lista">
  <div class="row">
    <div class="col-12">
      <b>Resultado da busca</b>
      <div *ngFor="let item of lista">

        <div *ngIf="item.ID == item.use">
          <a [routerLink]="['/v/' + item.ID]" class="link-secondary">
            {{ item.Term }}
          </a>
          <img
            *ngIf="item.flag"
            [src]="item.flag"
            height="10px"
            class="ms-2"
            style="position: relative; top: -10px"
          />
        </div>

        <div *ngIf="item.ID == item.use">
          <!--
          <a [routerLink]="['/v/' + item.use]" class="link-secondary italic">
            {{ item.Term }}
          </a>
          <img
            *ngIf="item.flag"
            [src]="item.flag"
            height="10px"
            class="ms-2"
            style="position: relative; top: -10px"
          />
          -->
        </div>
      </div>
    </div>
  </div>
</div>
