<form [formGroup]="dataForm">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      type="text"
      class="form-control border border-secondary"
      name="term"
      id="term"
      required
      (keyup)="keyUp($event)"
      formControlName="term"
    />

    <div *ngIf="!busy">
      <label for="nome">Itens</label>
      <select
        name="concept"
        style="width: 100%"
        size="6"
        formControlName="concept"
      >
        <option
          *ngFor="let it of Concepts; let is = index"
          [value]="it.ID"
          (click)="setTerm(it.ID)"
        >
          {{ it.name }}
        </option>
      </select>
    </div>
    <div *ngIf="busy" style="position: absolute; top: 100px; right: 0px">
      BUSY
    </div>

    <button class="btn btn-outline-primary me-2" *ngIf="newBtn">Incluir</button>
    <button class="btn btn-outline-primary me-2" *ngIf="saveBtn">Salvar</button>
    <button class="btn btn-outline-warning me-2">Cancelar</button>
  </div>
</form>
