<div class="container">
  <h1>O que está procurando?</h1>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <label for="search">Termos de busca</label>
    <input
      id="search"
      type="search"
      placeholder="Digite aqui"
      formControlName="term"
      autofocus
      required
      class="shadow rounded p-2"
      (keyup)="keyUp()"
    />
    <button type="submit" class="btn" [disabled]="loading">
      <i class="bi bi-search" *ngIf="!loading"></i>
      <img [src]="loadingImg" style="height: 20px" *ngIf="loading" />
    </button>
    <br />

    <!-- Filtros -->
    <small class="link ms-3" (click)="toggleFilters()">filtros</small>
    <small class="link ms-4" (click)="clickAdvanceSearch()"
      >busca avançada</small
    >

    <!-- Filtros -->
    <div
      class="p-2 pb-3 border border-secondary rounded shadow bg-body"
      [ngClass]="{ 'fade-in': filters, 'fade-out': !filters }"
      *ngIf="isTransitioning"
    >
      <h3 class="ps-2">Filtros</h3>
      <table class="table full" style="padding: 0px" *ngIf="filters">
        <tr class="small bold">
          <th width="10%">Ano Inicial</th>
          <th width="10%">Ano Final</th>
          <th width="40%">Coleções</th>
          <th width="40%">Campos</th>
        </tr>

        <tr valign="top">
          <!-- Ano Inicial -->
          <td class="p-2">
            <select
              id="year_start"
              formControlName="year_start"
              class="border border-secondary p-2 rounded bold"
            >
              <option *ngFor="let year of yearsI" [value]="year.name">
                {{ year.name }}
              </option>
            </select>
          </td>

          <!-- Ano Final -->
          <td class="p-2">
            <select
              id="year_end"
              formControlName="year_end"
              class="border border-secondary p-2 rounded bold"
            >
              <option *ngFor="let year of yearsF" [value]="year.name">
                {{ year.name }}
              </option>
            </select>
          </td>
          <!-- Ano Coleções -->
          <td class="p-2">
            <span *ngFor="let item of list" class="list-unstyled">
              <input
                type="checkbox"
                [value]="item.value"
                [checked]="item.checked"
                name="collection"
                (change)="onCollectionChange($event)"
              />
              {{ item.name }}
              <br />
            </span>
          </td>
          <!-- Campos -->
          <td class="p-2">
            <span *ngFor="let item of fields" class="list-unstyled">
              <input
                type="radio"
                name="fields"
                (change)="fieldChange(item.value)"
                [value]="item.value"
                [checked]="item.checked"
              />
              {{ item.name }}
              <br />
            </span>
          </td>
        </tr>
      </table>
    </div>

    <app-search-tips *ngIf="tips" [terms]="terms"></app-search-tips>

    <!-- brapci-basket [total]="selected" (basketRow)="updateBasket($event)"></brapci-basket -->
    <app-search-result
      *ngIf="total >= 0"
      [results]="results"
      [result]="total"
      [searchAction]="search"
    ></app-search-result>
  </form>
</div>

<!-- select -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-basket-select
        *ngIf="worksID?.length > 0"
        [data]="worksID"
      ></app-basket-select>
    </div>
  </div>
</div>

<!-- Mostra os resultados  -->
<app-item-show-row
  *ngIf="total >= 0"
  [results]="results"
  [result]="total"
  [searchAction]="search"
></app-item-show-row>
