<div class="container mt-5">
  <div class="row">
    <div class="col-2 col-lg-3"></div>
    <div class="col-10 col-lg-6"><img [src]="logo" class="img-fluid" alt="Logotipo da Brapci em branco com sombras" /></div>
    <div class="col-2 col-lg-3"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-4 mb-4">
      <h1>O que está procurando?</h1>
      <app-search-brapci></app-search-brapci>
    </div>
  </div>
</div>


<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <label for="search">Termos de busca</label>
  <input
    id="search"
    type="search"
    placeholder="Digite aqui"
    formControlName="term"
    autofocus
    required
    class="shadow rounded p-2"
    (keyup)="keyUp()"
  />
  <button type="submit" *ngIf="!loading"><i class="bi bi-search"></i></button>
  <button type="submit" *ngIf="loading">
    <img [src]="loaging_img" style="height: 65px" />
  </button>
  <br />

  <small class="link ms-3" (click)="clickFilters()">filtros</small>
  <small class="link ms-4" (click)="clickadvanceSearch()">busca avançada</small>

  <div
    [ngClass]="style"
    class="pb-3 border border-secondary rounded shadow bg-body"
  >
    <h3 class="ps-2">Filtros</h3>

    <div class="form-group container">
      <div class="row">
        <div class="col-3 col-sm-2">
          <span class="small bold">Ano Inicial</span>
          <select
            id="year_start"
            formControlName="year_start"
            class="form-control"
          >
            <option *ngFor="let year of yearsI" value="{{ year.name }}">
              {{ year.name }}
            </option>
          </select>
        </div>

        <div class="col-3 col-sm-2">
          <span class="small bold">Ano Final</span>
          <select id="year_end" formControlName="year_end" class="form-control">
            <option
              *ngFor="let year of yearsF"
              id="year_end"
              value="{{ year.name }}"
            >
              {{ year.name }}
            </option>
          </select>
        </div>

        <div class="col-4 col-sm-4">
          <span class="small bold">Coleções</span>
          <div *ngFor="let item of list">
            <input
              type="checkbox"
              value="{{ item.value }}"
              [checked]="item.checked"
            />
            {{ item.name }} <br />
          </div>
        </div>

        <div class="col-4 col-sm-3">
          <span class="small bold">Campos</span>
          <div *ngFor="let item of fields">
            <input
              type="radio"
              name="fields"
              (change)="fieldChange(item.value)"
              value="{{ item.value }}"
              [checked]="item.checked"
            />
            {{ item.name }} <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-search-tips *ngIf="tips" [terms]="terms"></app-search-tips>

<!-- brapci-basket [total]="selected" (basketRow)="updateBasket($event)"></brapci-basket -->
<app-search-result
  *ngIf="total >= 0"
  [results]="results"
  [result]="total"
  [searchAction]="search"
></app-search-result>

<div class="row">
  <div class="col-12 col-lg-3">
    <app-brapci-news *ngIf="total == 0"></app-brapci-news>
  </div>
  <div class="col-12 col-lg-3"></div>
  <div class="col-12 col-lg-3"></div>
  <div class="col-12 col-lg-3 p-2" *ngIf="total == 0">
    <app-event></app-event>
  </div>
</div>
