<div class="container" *ngIf="data">
  <div class="row" *ngFor="let group of data.groups">
    <div class="col-12">
      <h5>{{ group }}</h5>
    </div>
    <div class="col-12" *ngFor="let item of getItemsByGroup(group)">
      <!-- Exibe a propriedade apenas uma vez -->
      <div class="row">
        <div class="col-3 col-lg-2 small text-end">{{ item.property }}</div>
        <div class="col-1 col-lg-1 supersmall border-bottom border-secondary">
          <!-- Ícones -->
          <i class="bi bi-plus-circle link me-1" (click)="newData(item)"></i>
        </div>
        <div class="col-8 col-lg-9 border-bottom border-secondary">
          <!-- Lista os dados do item -->
          <div *ngFor="let it of item.Data">
            <i class="bi bi-pencil link me-1" *ngIf="item.Data?.length > 0"></i>
            <i
              class="bi bi-trash link me-1"
              *ngIf="item.Data?.length > 0"
              (click)="openModal('dataDeleteModal')"
            ></i>
            <span>{{ it.n_name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
