<app-header [header]="header"></app-header>
<app-navbar></app-navbar>

<div class="not-found-container">
  <div class="animation">
    <div class="number">4</div>
    <div class="zero"></div>
    <div class="number">4</div>
  </div>
  <h1>Oops! Página não encontrada</h1>
  <p>
    Parece que você se perdeu. Mas não se preocupe, estamos aqui para ajudá-lo a
    voltar.
  </p>
  <button class="back-button" (click)="goHome()">Voltar para o início</button>
</div>
<div style="height: 50px;"></div>
<app-footer></app-footer>
