<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="wrapper">
        <div class="rec-prism {{ Prism }}">
          <!--- BOARD ----------------------------------------------->
          <div class="face face-top">
            <div class="content">
              <small>mensagem:</small>
              <div [innerHTML]="message"></div>
              <span class="singin" (click)="moveBTN('pLogin')">voltar</span>
            </div>
          </div>
          <!---- SIGN IN-------------------------------------------->
          <div class="face face-front">
            <div class="content">
              <form [formGroup]="oauthForm" (ngSubmit)="signin()">
                <h2>Acessar</h2>
                <div class="field-wrapper">
                  <input
                    type="text"
                    formControlName="email"
                    placeholder="e-mail"
                  />
                  <label>Seu login</label>
                </div>
                <div class="field-wrapper">
                  <input
                    type="password"
                    id="user_password"
                    placeholder="social.user_password"
                    autocomplete="new-password"
                    formControlName="password"
                  />
                  <label>Senha</label>
                </div>
                <div class="field-wrapper">
                  <button
                    class="btn btn-primary"
                    style="width: 100%"
                    [disabled]="oauthForm.invalid"
                  >
                    Entrar
                  </button>
                </div>
                <span class="psw" (click)="moveBTN('pForgot')"
                  >Esqueceu a senha?</span
                >
                <span class="signup" (click)="moveBTN('pSingUp')"
                  >Não tem um usuário? Cadastrar-se</span
                >
                <span class="signup" (click)="moveBTN('pQuestion')"
                  >Dúvidas?</span
                >
              </form>
            </div>
          </div>
          <!-- FORGOT --------------------------------------------->
          <div class="face face-back">
            <div class="content">
              <form [formGroup]="forgotForm" (ngSubmit)="forgout()">
                <h2>Esqueceu a senha?</h2>
                <small
                  >Entre com seu e-mail para podermos enviar um link para
                  ressetar sua senha</small
                >
                <div class="field-wrapper">
                  <input
                    type="text"
                    formControlName="email"
                    placeholder="seu e-mail"
                  />
                  <label>e-mail</label>
                </div>
                <button
                  class="btn btn-primary"
                  style="width: 100%"
                  [disabled]="forgotForm.invalid"
                >
                  Entrar
                </button>
                <span class="singin" (click)="moveBTN('pLogin')"
                  >Já tem usuário? Acessar</span
                >
              </form>
            </div>
          </div>
          <!-- SIGN UP -------------------------------------------->
          <div class="face face-right">
            <div class="content">
              <h2>Cadastrar-se</h2>
              <form [formGroup]="oauthSignUp" (ngSubmit)="signUP()">
                <div class="field-wrapper">
                  <input
                    type="text"
                    formControlName="signup_name"
                    id="signup_name"
                    placeholder="name"
                  />
                  <label>Nome completo do usuário</label>
                </div>
                <div class="field-wrapper">
                  <input
                    type="text"
                    formControlName="signup_email"
                    placeholder="Seu e-mail"
                  />
                  <label>e-mail</label>
                </div>
                <div class="field-wrapper">
                  <input
                    type="text"
                    id="signup_institution"
                    placeholder="name"
                    formControlName="signup_institution"
                    value="{{ email }}"
                  />
                  <label>Nome da instituição</label>
                </div>
                <div class="field-wrapper">
                  <button
                    class="btn btn-primary"
                    style="width: 100%"
                    (click)="signUP()"
                  >
                    Cadastrar-se
                  </button>
                </div>
              </form>
              <span class="singin" (click)="moveBTN('pLogin')"
                >Já tem usuário? Acessar</span
              >
            </div>
          </div>
          <!-- Contact US ------------------------------------------>
          <div class="face face-left">
            <div class="content">
              <form [formGroup]="questionForm" (ngSubmit)="signin()">
                <h2>Entre em contato</h2>
                <div class="field-wrapper">
                  <input
                    type="text"
                    formControlName="email"
                    placeholder="seu e-mail"
                  />
                  <label>e-mail</label>
                </div>
                <div class="field-wrapper">
                  <textarea
                    placeholder="Digite sua mensagem"
                    rows="5"
                    formControlName="text"
                    class="border border-secondary p-2 rounded"
                    style="font-size: 0.7em"
                  ></textarea>
                  <label>-Digite sua mensagem</label>
                </div>
                <div class="field-wrapper">
                  <input
                    type="submit"
                    (click)="showThankYou()"
                    [disabled]="!questionForm.valid"
                  />
                  <span class="singin" (click)="moveBTN('pLogin')"
                    >Já tem usuário? Acessar</span
                  >
                </div>
              </form>
            </div>
          </div>
          <!-- Wait ------------------------------------------>
          <div class="face face-bottom">
            <div class="content">
              <div id="board">
                <h2>conectando, aguarde ...</h2>
                <img [src]="image_wait" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
