<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap" rel="stylesheet">
<style>
.ojuju {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.3em;
  font-size: 1.2em;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-8 text-left">
        <h1 class="ojuju" style="font-size: 3em; font-weight: bold">Erro 404:</h1>
        <h2 class="ojuju"style="font-size: 1.5em; font-weight: bold">Conhecimento Não Encontrado... Por Enquanto!</h2>
        <p>Caros pesquisadores da Ciência da Informação</p>
        <p>Em uma reviravolta digna de um estudo de caso, nosso servidor de banco de dados decidiu embarcar em uma jornada de autoconhecimento e, momentaneamente, desviou-se do caminho da conectividade. Embora possa parecer que ele tenha adotado a filosofia de "se encontrar", garantimos que a equipe técnica está utilizando todos os seus conhecimentos (e talvez um pouco de magia acadêmica) para trazê-lo de volta ao mundo dos acessíveis.</p>
        <p>Durante esta breve pausa em nossas operações normais, convidamos você a contemplar a efêmera natureza da informação digital e a importância de sistemas robustos e resilientes. Quem sabe não é o momento perfeito para aquela pausa para o café ou para revisitar as notas de aula sobre teorias de recuperação de informação?</p>
        <p>Valorizamos a sua paciência e compreensão enquanto navegamos por este pequeno contratempo. Afinal, até os grandes pensadores enfrentaram obstáculos em suas pesquisas. Vejam isso como um convite para praticar a arte da paciência acadêmica e a resiliência intelectual.</p>
        <p>Agradecemos a sua compreensão e paciência enquanto trabalhamos incansavelmente para restaurar o acesso. Esperamos retomar as operações normais em breve e continuar a nossa jornada conjunta de exploração e descoberta no vasto universo da Ciência da Informação.</p>
        <p>Mantenham-se curiosos e resilientes,</p>
        <p style="font-weight: bold">Equipe Brapci</p>
    </div>
    <div class="col-4 text-left">
    <img [src]="image_logo" class="img-fluid">
    <img [src]="image" class="img-fluid">
    </div>
  </div>
</div>
