<div class="mt-2 mb-2">
Exportar:
<button (click)="export('csv');" class="btn btn-outline-primary me-2">CSV</button>
<button (click)="export('xls');" class="btn btn-outline-primary me-2">XLS</button>
<button (click)="export('doc');" class="btn btn-outline-primary me-2">DOC</button>
<button (click)="export('ris');" class="btn btn-outline-primary me-2">RIS</button>
<button (click)="export('bibtex');" class="btn btn-outline-primary me-2">BibTex</button>
<button (click)="export('cited');" class="btn btn-outline-primary me-2">Citações</button>
<button (click)="export('ID');" class="btn btn-outline-primary me-2">tt</button>
</div>
