<app-theme-header [header]="header"></app-theme-header>
<div *ngIf="data">
  <app-banner-article
    [section]="data.section"
    [cover]="data.cover"
    [publisher]="data.publisher"
  ></app-banner-article>
</div>

<div class="container mt-5" *ngIf="data">
  <div class="row">
    <div class="col-9" *ngIf="data.Issue">
      <a
        [routerLink]="['/v/' + data.Issue.ID]"
        routerLinkActive="router-link-active"
        class="link"
      >
        <div class="legend mb-4" *ngIf="data.legend">{{ data.legend }}</div>
      </a>

      <!--------------------------- TITLE-->
      <h1 *ngIf="data.data.hasTitle['pt']" class="title_pt text-center mt-2" title="Titulo em Portugues">{{ objectKeys(data.data.hasTitle['pt'][0]) }}</h1>
      <h2 *ngIf="data.data.hasTitle['en']" class="title_en text-center mt-2" title="Titulo em Inglês">{{ objectKeys(data.data.hasTitle['en'][0]) }}</h2>
      <h2 *ngIf="data.data.hasTitle['es']" class="title_es text-center mt-2" title="Titulo em Espanhol">{{ objectKeys(data.data.hasTitle['es'][0]) }}</h2>
      <h2 *ngIf="data.data.hasTitle['fr']" class="title_fr text-center mt-2" title="Titulo em Francês">{{ objectKeys(data.data.hasTitle['fr'][0]) }}</h2>


      <!-- Author-------------------------------------->
      <div class="text-end mb-5">
        <span *ngFor="let item of data.creator_author" class="text-end">
          <a class="author" [routerLink]="['/v/' + item.ID]">{{ item.name }}</a
          ><br />
        </span>
      </div>

      <app-doi-show [data]="data.data"></app-doi-show>

    <!--------------------------- Abstract-->

      <div *ngFor="let lg of langs" class="mt-4">
        <div *ngIf="data.data.hasAbstract[lg]">
          <div
            class="abstract abstract_{{ lg }}"
            *ngFor="let i of objectKeys(data.data.hasAbstract[lg])"
          >
            <b>{{ abstract[0][lg] }}</b
            >:
            {{ objectKeys(data.data.hasAbstract[lg][0]) }}
          </div>
        </div>
        <b class="keyword">{{ keywords[0][lg] }}</b
        >:
        <span *ngIf="data.data.hasSubject[lg]" class="text-end">
          <a
            *ngFor="let i of objectKeys(data.data.hasSubject[lg])"
            class="keywords_item"
            [routerLink]="['/v/' + objectValues(data.data.hasSubject[lg][i])]"
          >
            {{ objectKeys(data.data.hasSubject[lg][i]) }}
          </a>
        </span>
      </div>
    </div>



    <div class="col-3 text-end" *ngIf="data.cover">
      <!--------------------------- Cover-->
      <img [src]="data.cover" class="img-fluid cover" title="Capa da Publicação" style="width: 100%;" />

      <br />

      <!--------------------------- BUG-->
      <app-report-bug
        [url]="data.resource_pdf"
        [id]="data.ID"
      ></app-report-bug>

      <!--------------------------- LOVEIT-->
      <app-component-loveit
        [url]="data.resource_pdf"
        [id]="data.ID"
      ></app-component-loveit>

      <!--------------------------- MARKED -->
      <app-basket-marked
        [id]="data.ID"
      ></app-basket-marked>

      <!--------------------------- PDF-->
      <app-component-pdf
        [url]="data.resource_pdf"
        [id]="data.id"
      ></app-component-pdf>

      <!--------------- Administracao -->
      <div *ngIf="userID">
        <hr>
        <!-------------- Admin -->
        <app-admin-icones [ID]="data.ID"></app-admin-icones>
      </div>


    </div>

    <div class="col-12 col-lg-3" *ngIf="data.data">
      <hr />
    </div>

    <!--------------- Abstract -->
    <div class="col=3"></div>
    <div class="col-12 col-lg-10 mb-3">

      <!--------------- Cite -->
      <app-citation-note [citacao]="data.cited"></app-citation-note>

      <!--------------- Data -->
      <img [src]="rdf" height="32px" title="Icone do RDF para download" />

      <app-tabs-nav [data]="data"></app-tabs-nav>
    </div>
  </div>
  <div style="height: 100px"></div>
</div>
