<nav class="navbar navbar-expand-lg navbar-dark bg-brapci">
  <div class="container-fluid">
    <!-- Logotipo -->
    <a [href]="URLhome" class="navbar-brand" title="Página inicial da Brapci">
      <img
        [src]="logo"
        class="brand"
        alt="Logotipo da Brapci em branco com sobras"
        title="Logotipo da Brapci em branco com sobras"
        style="height: 20px"
      />
    </a>

    <!-- Botão de Toggle fora do link -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link linkNav" (click)="goURL('authority')">Autoridades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkNav" (click)="goURL('journals')">Revistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkNav" (click)="goURL('proceedings')">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkNav" (click)="goURL('benancib')">Benancib</a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkNav" (click)="goURL('livros')">Livros</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle linkNav"
            href="javascript:void(0)"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sobre
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('about/brapci')">Sobre a Brapci</a>
            </li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('about/benancib')">Sobre a Benancib-Brapci</a>
            </li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('about/brapcilivros')">Sobre a Brapci Livros</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('about/how_index')">Como ser indexado na Brapci</a>
            </li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('about/team')">Equipe</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('indexs/subject/A')">Índices de Assuntos</a>
            </li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('indexs/author/A')">Índices de Autores</a>
            </li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('timeline')"><i>Timeline</i> Revistas</a>
            </li>
            <li><hr class="dropdown-divider" /></li>            
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('dashboard/production')">Indicador das Produções</a>
            </li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('dashboard/search')">Indicador de Buscas</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="user?.id">
          <a
            class="nav-link dropdown-toggle linkNav"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ferramentas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('tools/')">Ferramentas bibliográficos</a>
            </li>
            <li>
              <a class="dropdown-item linkNm" (click)="goURL('colaboration/')">Colaboração / Coautoria</a>
            </li>
          </ul>
        </li>
      </ul>
      <!------------------ Login-->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="me-3 nav-link">
          <app-login-icone [user]="user"></app-login-icone>
        </li>
      </ul>
    </div>
  </div>
</nav>
