<nav class="navbar navbar-expand-lg navbar-dark bg-brapci">
  <div class="container-fluid">
    <a class="nav-link" [routerLink]="['/home']">
      <img
        src="/assets/img/brand_brapci_shadown.png"
        class="brand"
        alt="Logotipo da Brapci em branco com sobras"
        style="height: 20px;"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/authority']">Autoridades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/journals']">Revistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/proceedings']">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/benancib']">Benancib</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/livros']">Livros</a>
        </li>
        <!--
        <li class="nav-item" *ngIf="user.id">
          <a class="nav-link" [routerLink]="['/tools']">Ferramentas</a>
        </li>
        -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sobre
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/about/brapci']"
                >Sobre a Brapci</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/about/benancib']"
                >Sobre a Benancib-Brapci</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/about/brapcilivros']"
                >Sobre a Brapci Livros</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/about/how_index']"
                >Como ser indexado na Brapci</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/about/team']">Equipe</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/indexs/subject/A']"
                >Índices de Assuntos</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/indexs/author/A']"
                >Índices de Autores</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/timeline']"
                ><i>Timeline</i> Revistas </a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/dashboard']"
                >Indicadores</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="user">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ferramentas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/tools/']"
                >Ferramentas bibliográficos</a
              >
            </li>
            <!--
            <li>
              <a class="dropdown-item" [routerLink]="['/ia/']"
                >Inteligência Artificial</a
              >
            </li>
            -->
          </ul>
        </li>
      </ul>
      <!------------------ Login-->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="me-3 nav-link">
          <app-login-icone [user]="user"></app-login-icone>
        </li>
      </ul>
    </div>
  </div>
</nav>
