<h5 *ngIf="user">{{ user.fullname }}</h5>
<!-- Wating -->
<app-waiting *ngIf="loading" [isLoading]="loading"></app-waiting>

<strong *ngIf="user">Email:</strong> {{ user?.email }}
<hr />
<div *ngIf="user?.fullname" class="alert alert-info">
  <h6>Cadastro de Nova Senha</h6>
  <form [formGroup]="passwordForm" (ngSubmit)="submit()">
    <label>Nova Senha:</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      required
    />

    <label>Redigite a senha:</label>
    <input
      type="password"
      formControlName="password2"
      class="form-control"
      required
    />

    <div class="mt-4 small">Mínimo de 6 caracteres</div>

    <button
      class="btn btn-primary mt-3"
      type="submit"
      [disabled]="loading || passwordForm.invalid"
    >
      {{ loading ? "Enviando..." : "Cadastrar Senha" }}
    </button>

    <p class="mt-3" *ngIf="message">{{ message }}</p>
  </form>
</div>

<div *ngIf="!user?.email" class="alert alert-danger">
  <strong>Erro:</strong> Carregando dados do usuário.
  <p class="mt-3" *ngIf="message">{{ message }}</p>
</div>
