<div *ngIf="result" class="h5 bold">Próximos eventos</div>
<div *ngFor="let item of result" class="mb-4 text-center">
<a href="{{item.URL}}" target="_blank" title="Acesso a página do evento: {{item.URL}}">
<img [src]="item.logo" class="img-fluid p-3" title="Página do evento: {{item.name}}" style="height: 100px">
</a>
<div class="small bold" [innerHTML]="item.name"></div>
<div class="input-group">
<div class="h6 bold" [innerHTML]="item.date" style="width:60%"></div>
<div [innerHTML]="item.place" class="text-end "></div>
</div>
</div>
