<h1>TOOLS</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <app-breadcrumbs [data]="road"></app-breadcrumbs>
      <h2>Amostra</h2>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
          <label>
            Tamanho da populacao:
            <br />
            <input
              class="big border border-secondary"
              formControlName="populacao"
              placeholder="Tamanho da populacao"
            />
          </label>
        </div>

        <div>
          <label>
            Erro amostral:
            <br />
            <input
              class="big border border-secondary"
              formControlName="erro_amostral"
              placeholder="Erro amostral"
            />
          </label>
        </div>

        <div>
          <label>
            Confiança:
            <br />
            <select id="confianca" formControlName="confianca" class="big">
              <option *ngFor="let c of confianca_niveis" [value]="c">
                {{ c }}
              </option>
            </select>
          </label>
        </div>

        <div>
          <label>
            Distribuicao:
            <br />
            <input
              class="big border border-secondary"
              formControlName="distribuicao"
              placeholder="Distribuicao"
            />
          </label>
        </div>

        <div class="mt-2">
          <button class="btn btn-primary">Calcular</button>
        </div>

        <div class="h4 bold mt-5">
          Total da amostra mínima: {{ amostra | number : "1.0-0" }}
        </div>
      </form>

      <div *ngIf="amostra > 0">
        <h2>Metodologia</h2>
        <p>
          Para assegurar a representatividade e a precisão dos dados coletados
          nesta pesquisa, o tamanho da amostra foi calculado com base em um
          intervalo de confiança de <b>{{ myForm.value.confianca }}%</b> e uma
          margem de erro de <b>{{ myForm.value.erro_amostral }}%</b>, em uma
          distribuição <b>{{ myForm.value.distribuicao }}</b
          >. Esses parâmetros foram escolhidos para equilibrar a precisão
          estatística com a viabilidade prática de coleta de dados. Através da
          aplicação da fórmula para determinação do tamanho de amostra em
          estudos de proporções, com a premissa de máxima variabilidade (p=0.5),
          que proporciona o tamanho máximo da amostra para um dado nível de
          confiança e margem de erro, o cálculo indicou a necessidade de uma
          amostra mínima de aproximadamente
          <b>{{ amostra | number : "1.0-0" }}</b> respondentes.
        </p>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <h3>Como usar?</h3>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/qOUddBznpRU?si=YzIFfG2eC5Rv9-4c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>

      <app-menu-right-side></app-menu-right-side>

    </div>
  </div>
</div>
