<h1>TOOLS</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7">
      <app-breadcrumbs [data]="road"></app-breadcrumbs>
      <app-processing-workflow
        [toolsName]="toolsName"
        [buttonName]="buttonName"
        [endpoint]="api_endpoint"
        [action]="'lotka'"
      ></app-processing-workflow>

      <h1>Lei de Lotka</h1>
      <p>
      A Lei de Lotka é uma lei de produtividade dos autores.
      Ela afirma que o número de autores que fazem n publicações é
      aproximadamente 1/n² do número de autores que fazem uma única publicação.
      Essa lei aponta para uma distribuição desigual de produtividade entre os autores,
      com poucos autores sendo muito produtivos e muitos autores publicando apenas uma vez.
      </p>
    </div>

    <div class="col-12 col-lg-5">
      <h3>Como usar?</h3>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/qOUddBznpRU?si=YzIFfG2eC5Rv9-4c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
