/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

Xdiv {
  border:1px solid red;
}

.icone
  {
    font-size: 40px;
    padding: 0px 0px 0px 20px;
    color: #555;
  }

.icone:hover
  {
    font-size: 40px;
    color: #0000ff;
    cursor: pointer;
  }
/*****************************************************/
$bgcolor: #eee;
$background: darkslateblue;
$backgroundGrad: rgb(106, 92, 195);

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Raleway:wght@300&display=swap");

@media screen and (min-width: 1024px) {
  body {
    margin-top: 80px;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.reference {
  margin: 0px;
  padding: 0px;
  color: #111;
  text-align: justify;
  font-size: 1em;
  line-height: 100%;
}
.border_title {
  border-left: 5px solid #114411;
  border-bottom: 1px solid #114411;
  padding-left: 5px;
}
.summary a {
  color: black;
}
.summary_a,
.summary_a p,
.summary_ln a {
  color: #444;
}
.summary {
  text-decoration: none;
  color: black;
  border: 1px solid #888;
  padding: 5px 15px;
  border-radius: 10px;
  border-left: 4px solid #888;
  font-size: 1.1em;
}

.book_keywords a,
.book_keywords {
  color: #000;
  font-size: 1.3rem;
  font-weight: 400;
}
/************************ Form */
.full {
  width: 100%;
}

.nav-link-brp {
  color: #ddd;
  padding: 0px 10px;
}

.nav-link-brp:hover {
  color: white;
  padding: 0px 10px;
}

.bg-brapci {
  background-color: #483d8b;
}

.bg-tools {
  background-color: #5e3030;
}

.bg-pq {
  background-color: #946856;
}
.bg-benancib {
  background: rgb(13, 48, 130);
  background: linear-gradient(
    90deg,
    rgba(13, 48, 130, 1) 0%,
    rgba(9, 121, 58, 1) 68%
  );
}

.bg-benancib a {
  color: white;
  padding-bottom: 3px;
}
.bg-destaque {
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #999;
}

.bg-destaque a {
  color: #000;
}

.bg-benancib a:hover {
  color: white;
  /* text-decoration: underline; */
  border-bottom: 3px solid #fff;
  padding-bottom: 0px;
}

.bg-authority,
a.bg-authority {
  background-color: #345283;
  color: white;
}

.bg-patente {
  background-color: #25256f;
}

.bg-brapcilivros,
.bg-brapcilivros a {
  background-color: #6c3483;
  color: white;
  text-decoration: none;
}

.bg-proceedings {
  background-color: #114411;
}

.bg-admin {
  background-color: #333;
}

.bg-ai {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #9723d5,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
}

.btn-outline-access {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px #00000020;
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #000;
  --bs-gradient: none;
}
.form-control-sm {
  width: 100%;
}

.pagination li {
  padding: 1px 1px;
  margin-right: 1px;
  border-radius: 5px;
}
.pagination li:hover {
  background-color: #d0d0ff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: #3333c0;
}
a:hover {
  text-decoration: none;
  color: #000080;
}

.small {
  font-size: 0.8em;
}

.supersmall {
  font-size: 0.7em;
}

.pointer {
  cursor: pointer;
}
.text_75 {
  font-size: 75%;
}
.text_65 {
  font-size: 65%;
}
.text_50 {
  font-size: 50%;
}
.text_35 {
  font-size: 35%;
}

.href,
.href a,
.href a:visited {
  color: #222;
  text-decoration: none;
}

.href a:visited,
.href:visited {
  color: #222233;
  text-decoration: none;
}

.href:hover {
  color: #000;
  text-decoration: none;
}

.view_more {
  color: blue;
  text-align: end;
}

.bullet {
  border-radius: 10px;
  border: 1px solid #aaa;
  background-color: #ddd;
  padding: 0px 5px;
}
/******* ICONES *************/
.cnpq {
  background: url(/img/icons/lattes.png) no-repeat scroll -100px 0px transparent;
  display: block;
  float: left;
  height: 27px;
  margin: -4px 6px 0 4px;
  overflow: hidden !important;
  text-indent: -9999px;
  width: 32px;
}

input.form-control,
textarea.form-control,
select.form-control {
  color: #000;
  font-weight: bold;
  border: 1px solid #0000;
  background: #fff;
}
/************************ PGCD *******/
a.pgcd_view_plans {
  color: #000;
  font-weight: 400;
}
a.pgcd_view_plans:hover {
  color: #000;
  font-weight: bold;
}
.pgcd_edit_plans,
a.pgcd_edit_plans,
a.pgcd_trash_plans {
  color: #000;
  font-weight: bold;
}

.pgcd_nav-item-active,
a.pgcd_nav-item-active,
a.pgcd_nav-item-active:hover {
  background-color: #0d6efd;
  border-radius: 20px 20px 0px 0px;
  /* font-weight: bold; */
  color: white;
}
.pgcd_border {
  background: #aaa;
  height: 2px;
}

.pgcd_table_th {
  background-color: #0d6efd;
  color: white;
}
.pgcd_table {
  border: 1px solid #0d6efd;
}

.pgcd_h {
  border-top: 2px solid #aaa;
  padding-top: 5px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* CAPTION 2 */
.caption-style-2 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.caption-style-2 li {
  float: left;
  width: 100%;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style-2 li:hover .caption {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.caption-style-2 img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.caption-style-2 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 300px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.caption-style-2 .blur {
  background-color: rgba(0, 0, 0, 0.7);
  height: 350px;
  width: 500px;
  z-index: 5;
  position: absolute;
}

.caption-style-2 .caption-text {
  padding: 0px 10px;
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 300px;
  height: 400px;
  text-align: center;
  top: 20px;
}

/************************* Patent */
.patent-mark {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.75em;
}

/************************ PDF */
.pdf_book {
  border: 1px solid #f00;
  text-align: center;
  background-color: #fff;
  color: #f00;
  border-radius: 10px;
  cursor: pointer;
}

.pdf_book:hover {
  border: 1px solid #f00;
  text-align: center;
  background-color: #830706;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
/************************* Cited-Type */
.type-journal {
  background-color: #aaaaff;
}
.type-book {
  background-color: #ffaaaa;
}
.type-bookchapter {
  background-color: #ffdddd;
}
.type-link {
  background-color: #ffaaff;
}
.type-tcc {
  background-color: #ffffaa;
}
.type-dissertation {
  background-color: #ffff77;
}
.type-these {
  background-color: #ffff33;
}
.type-proceeding {
  background-color: #aaffff;
}
.type-law {
  background-color: #33ffff;
}
.type-dataset {
  background-color: #5d9a71;
}

.type-report,
.type-standard,
.type-interview,
.type-software,
.type-patent,
.type-none {
  background-color: #aaa;
}

.radius5 {
  border-radius: 5px;
  padding: 0px 4px 0px 4px;
  border: 1px solid #000;
  font-size: 0.7em;
}

/********************** Heart */
.heart {
  /* Animation */
  transform: rotate(-45deg) scale(1);
  animation: pulse 2s linear infinite;
  color: red;
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(1);
    opacity: 0;
  }
  33% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
  66% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) scale(1);
    opacity: 0;
  }
}

/***************************************** Tables */
.brp_row {
  border-bottom: 1px solid #888;
}

.brp_row:hover {
  background-color: #eee;
}

/***************************************************/

body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  //font-family: 'Barlow Condensed', sans-serif;
  background-color: $bgcolor;
}
.titleBook {
  //    font-weight: bold;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: "Times", sans-serif;
  font-family: "Raleway", sans-serif;
}

.aH {
  text-transform: uppercase;
  background: #369;
  color: #fff;
  padding: 5px 0px 5px 10px;
  margin: 0 0 0 0;
  font-family: sans-serif;
  font-weight: bold;
}

.onHover:hover {
  background-color: #ddd;
  cursor: pointer;
}

.foot_tag a {
  text-decoration: none;
}
.documment_type {
  border-radius: 5px;
  color: #000;
  padding: 2px 10px 2px 10px;
}
.documment_type_proceeding {
  background-color: #fef;
  border: 1px solid #818;
}
.documment_type_book {
  background-color: #efe;
  border: 1px solid rgb(23, 100, 9);
}
.documment_type_bookChapter {
  background-color: rgb(212, 251, 252);
  border: 1px solid rgb(12, 103, 110);
}
.documment_type_article {
  background-color: #eef;
  border: 1px solid #118;
}

#score {
  float: right; /* Alinha o elemento à direita */
  margin-right: 60px;
}

.bold {
  font-weight: bold;
}

.link {
  color: #555;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  line-height: 1rem;
  cursor: pointer;
}



.link:hover {
  color: #333;
  text-decoration: underline;
  transition-duration: 410ms;
  color: #000;
}

.author {
  text-decoration: none;
  color: #555;
  font-size: 1.3em;
  font-weight: bold;
  font-style: italic;
}
.author:hover {
  color: #000;
}

.keyword,
.keyword a {
  font-size: 1.1rem;
  padding: 1px 5px 1px 5px;
  margin: 0px 10px 0px 0px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.keyword:hover {
  border: 1px solid #333;
  color: #000;
  background-color: #fff;
}

.cited {
  font-size: 0.8rem;
  line-height: 0.9rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: #555;
}

.cited a {
  color: #555;
  font-weight: bold;
  text-decoration: none;
}

li.cited {
  margin-bottom: 10px;
}

.keywords_item {
  font-size: 1.0rem;
  border: 1px solid #555;
  padding: 2px 10px;
  margin: 2px 2px;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
  background-color: #d8d8d8;
  line-height: 1.8rem;
  word-break: break-all;
}
.keywords_item:hover {
  background-color: #f8f8f8;
}
.cover_min {
  width: 100px;
}

.cover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(0.9);
  //border: 4px solid red;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cover:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6),
    0 6px 20px 0 rgba(0, 0, 0, 0.18);
  animation: zoomIN 1s;
  transform: scale(1);
  cursor: pointer;
}

html,
body {
  height: 100%;
}

.big {
  font-size: 1.5rem;
}

.superbig {
  font-size: 2rem;
}
/*************************************** Form */
.termsSubmit {
  font-size: 0.8em;
}
.form_mandadory {
  color: red;
  font-size: 0.8rem;
}
.form_valid {
  border: 1px solid green;
  border-left: 5px solid green;
  border-radius: 10px;
}
.form_invalid {
  border: 1px solid red;
  border-left: 5px solid red;
  border-radius: 5px;
}
.form_null {
  border: 1px solid #888;
  border-left: 5px solid #888;
  border-radius: 10px;
}

.basket {
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  margin-top: 5px;
}

.handle {
  cursor: pointer;
}

.small {
  font-size: 0.8rem;
}

/************* BOOKS */
/* CAPTION 2 */
.caption-style-2 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.caption-style-2 li {
  float: left;
  width: 100%;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.caption-style-2 li:hover .caption {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.caption-style-2 img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.caption-style-2 .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 300px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.caption-style-2 .blur {
  background-color: rgba(0, 0, 0, 0.7);
  height: 350px;
  width: 500px;
  z-index: 5;
  position: absolute;
}

.caption-style-2 .caption-text {
  padding: 0px 10px;
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 300px;
  height: 400px;
  text-align: center;
  top: 20px;
}

/*****************************************************/
$bgcolor: #eee;
$background: darkslateblue;
$backgroundGrad: rgb(106, 92, 195);

.banner {
  background-image: linear-gradient($background, $backgroundGrad);
}

.banner_min {
  min-height: 200px;
}

.banner_min_article {
  height: 100px;
}

@media screen and (max-width: 600px) {
  .cover_div {
    display: none;
  }
}
.cover_div {
  position: absolute;
  //height: 15rem;
  margin-right: 0px;
  right: 10%;
  top: 40px;
  border: 2px solid #000000;
  z-index: 8;
  //width: 100px;
}

.cover {
  z-index: 10;
}

.section_div {
  position: absolute;
  margin-right: 0px;
  left: 10%;
  top: 140px;
  padding: 2px 20px;
  border: 2px solid #000000;
  border-radius: 15px;
}

.journal {
  font-size: 1.6em;
}

.journal_label {
  font-size: 0.75em;
}

.section {
  list-style: none;
  font-size: 1em;
  font-weight: bold;
}

/******** NAV */
.oauth_user {
  color: #aaa;
}

.oauth_user:hover {
  color: #fff;
}

.work {
  font-size: 1.1em;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.full {
  width: 100%;
}

.brp_h2 {
  border-left: 40px solid #161654;
  padding-left: 10px;
  width: 100%;
  border-bottom: 1px solid #161654;
}

/****************************/
.title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}

.title_pt {
  color: #161654;
  font-size: 2rem;
  line-height: 2.1rem;

}

.title_en {
  color: #454;
  font-size: 1.6rem;
  line-height: 1.7rem;
}

.title_es {
  color: #744;
  font-size: 1.6rem;
  line-height: 1.7rem;
}

.abstract {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 0px 0px 10px 0px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/************************* Cited-Type */
.type-journal {
  background-color: #aaaaff;
}
.type-book {
  background-color: #ffaaaa;
}
.type-bookchapter {
  background-color: #ffdddd;
}
.type-link {
  background-color: #ffaaff;
}
.type-tcc {
  background-color: #ffffaa;
}
.type-dissertation {
  background-color: #ffff77;
}
.type-these {
  background-color: #ffff33;
}
.type-proceeding {
  background-color: #aaffff;
}
.type-law {
  background-color: #33ffff;
}
.type-dataset {
  background-color: #5d9a71;
}
.type-report,
.type-standard,
.type-interview,
.type-software,
.type-patent,
.type-none {
  background-color: #aaa;
}

.radius5 {
  border-radius: 5px;
  padding: 0px 4px 0px 4px;
  border: 1px solid #000;
  font-size: 0.7em;
}
