<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3">
      <img
        *ngIf="data?.cover"
        [src]="data.cover"
        (error)="data.cover = 'path/to/default-image.jpg'"
        class="img-fluid cover"
      />

      <!--------------------------- PDF-->
      <app-component-pdf
        [url]="data.resource_pdf"
        [id]="data.id"
      ></app-component-pdf>

      <!--------------- Administracao -->
      <div *ngIf="userID">
        <hr>
        <!-------------- Admin -->
        <app-admin-icones [ID]="data.ID"></app-admin-icones>
      </div>
    </div>

    <div class="col-12 col-sm-9" *ngIf="data">
      <!-- DOI -->
      <app-doi-show [data]="data.data"></app-doi-show>

      <h5 class="bold mt-4">Capítulo de Livro</h5>

      <h2 class="bold mt-4">{{ data.title }}</h2>

      <h5 class="fst-italic mt-4" *ngIf="data.creator_author">
        <li
          *ngFor="let author of data.creator_author"
          style="list-style: none; padding: 0; margin: 0; padding-left: 15px"
        >
          <a href="/v/{{ author.ID }}" class="link"
            >{{ author.name }} <sup>{{ author.complement }}</sup>
          </a>
        </li>
      </h5>

      <div *ngIf="data.description" class="small mt-2">
        <b>Resumo</b>
        <p>{{ data.description }}</p>
      </div>

      <div *ngIf="data.subject">
        <app-subjects [data]="data.subject"></app-subjects>
      </div>

      <!-- Paginacao -->
      <div *ngIf="data.data.hasPageStart">
        <div *ngFor="let item of data.data.hasPageStart?.nn">
          Pag.: {{ item | json }}
        </div>
        <div *ngFor="let item of data.data.hasPageStart?.pt">
          Pag.: {{ item | json }}
        </div>
      </div>

      <div *ngIf="data.bookID > 0">
        BOOK: <a [routerLink]="'/v/'+data.bookID">Acessar o Livro</a>
      </div>

      <!-- Parte do livro -->
      <div *ngIf="data.part">
        <div *ngFor="let item of data.part">Parte: {{ item | json }}</div>
      </div>
    </div>

    <!--------------- Cite -->
    <app-citation-note *ngIf="full" [citacao]="data.cited"></app-citation-note>
    <app-tabs-nav *ngIf="full" [data]="data"></app-tabs-nav>
  </div>
</div>
