<h5>Welcome to Brapci Chat</h5>
<div class="chat-prompt">
  <div class="chat-prompt__message">
    <p>Hi, I'm Brapci Chatbot. How can I help you today?</p>
  </div>

  <div class="chat-container">
    <div
      *ngFor="let msg of chatHistory"
      class="message"
      [ngClass]="{
        user: msg.sender === 'user',
        ollama: msg.sender === 'ollama'
      }"
    >
      <strong>{{ msg.sender }}:</strong> {{ msg.message }}
    </div>

    <!-- Formulário reativo -->
    <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
      <input
        formControlName="userMessage"
        placeholder="Type your message here..."
      />
      <button type="submit">Send</button>
    </form>
  </div>
</div>
