<h5>Welcome to Brapci Chat</h5>
<div class="chat-prompt container">
  <div class="row">
    <div class="chat-prompt__message col-12">
      <p>Olá, em que posso ajudar hoje?</p>
    </div>

    <div class="chat-prompt__message col-12" style="border: 1px solid #FF0000">
      <div
        *ngFor="let msg of chatHistory"
        class="message"
        style="width: 100%"
        [ngClass]="{
          user: msg.sender === 'user',
          ollama: msg.sender === 'ollama'
        }"
      >
        <strong *ngIf="msg.sender != 'ollama'">{{ msg.sender }}:</strong>
        <strong *ngIf="msg.sender == 'ollama'">chatBrapci:</strong>
        <span [innerHTML]="msg.message"></span>
      </div>

      <div class="chat-container col-12">

      <div *ngIf="busy" class="loader">Pensando ...</div>

      </div>
      <div class="chat-prompt__message col-12" style="border: 1px solid #00FF00">

      <!-- Formulário reativo -->
      <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
        <textarea
          formControlName="userMessage"
          placeholder="Digite sua pergunta."
          rows="6"
          style="width: 100%"
          [readOnly]="busy"
        >
        </textarea>
        <br>
        <button type="submit">Send</button>
      </form>

      </div>
    </div>
  </div>
</div>
