.chat-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.user {
  background-color: #d1e7dd;
  align-self: flex-end;
  text-align: right;
  border-radius: 0 30px 30px 30px;
  border: 5px solid #68777a;
}

.ollama {
  background-color: #f8d7da;
  align-self: flex-start;
  text-align: left;
  border-radius: 30px 30px 0 30px;
  border: 5px solid #a8676a;
}

input {
  margin-top: 10px;
}
