<app-header [header]="header"></app-header>
<app-navbar></app-navbar>
<app-theme-banners [data]="data"></app-theme-banners>

<div class="container">
  <div class="row">

    <div class="col-lg-6 col-12">
      <h2>Termo de Indexação</h2>
      <p>Disclaimer para Submissão de Livros na Brapci Livros</p>

      <p>
        Ao submeter seu livro para indexação na Brapci Livros, você, como autor
        ou representante autorizado, declara que:
      </p>

      <h5>Autoria e Direitos Autorais</h5>
      <li>
        Você detém os direitos autorais ou está devidamente autorizado a
        submeter o conteúdo para indexação. Certifica que o material enviado é
        original e não infringe direitos de terceiros.
      </li>

      <h5>Conteúdo</h5>
      <li>
        O conteúdo do livro está relacionado a temas pertinentes às áreas de
        Ciência da Informação, Biblioteconomia, Arquivologia, Museologia ou
        disciplinas correlatas, alinhando-se ao escopo da Brapci Livros.
      </li>

      <h5>Permissão de Indexação</h5>
      <li>
        Autoriza a Brapci Livros a disponibilizar os metadados do livro para
        consulta pública em sua plataforma. Esta autorização não implica a
        disponibilização do texto completo da obra, salvo indicação explícita e
        consentimento do autor.
      </li>

      <h5>Responsabilidade</h5>
      <li>
        O autor é responsável pela precisão das informações fornecidas no
        processo de submissão, incluindo autoria, título, ano de publicação e
        editora.
      </li>

      <h5>Contato e Suporte</h5>
      <li>
        Em caso de dúvidas ou solicitações relacionadas ao processo de
        indexação, entre em contato com a equipe da Brapci Livros por meio do
        e-mail: {{contato}}.
      </li>
    </div>


    <div class="col-lg-6 col-12">
      <app-upload-file
        [toolsName]="'bookSubmit'"
        [buttonName]="buttonName"
        [endpoint]="api_endpoint"
        [action]="'bookSubmit'"
        [emailSend]="'true'"
      ></app-upload-file>

      <li>
        Ao prosseguir com a submissão, você declara ter lido e concordado com os
        termos descritos acima.
      </li>

    </div>
  </div>
</div>

<app-footer></app-footer>
