<app-brapci-banner-general
  *ngIf="data"
  [publisher]="data.jnl_name"
></app-brapci-banner-general>

<div class="container" *ngIf="data">
  <div class="row">
    <div class="col-12 col-lg-12 mt-3">
      <a
        (click)="selectPG('1')"
        class="ms-3 menu"
        [ngClass]="page == '1' ? 'active' : ''"
        >Sobre</a
      >
      <a
        (click)="selectPG('2')"
        class="ms-3 menu"
        [ngClass]="page == '2' ? 'active' : ''"
        >Fascículos</a
      >
      <a
        (click)="selectPG('3')"
        class="ms-3 menu"
        [ngClass]="page == '3' ? 'active' : ''"
        >Indicadores</a
      >
      <a
        (click)="selectPG('4')"
        class="ms-3 menu"
        [ngClass]="page == '4' ? 'active' : ''"
        >Autores</a
      >
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-lg-3">
      <img [src]="data.cover" class="img-fluid mb-2" style="width: 100%" />
      <div id="jnl_issn" class="mb-3 portal" *ngIf="data.jnl_issn">
        <a
          href="https://portal.issn.org/resource/ISSN/{{ data.jnl_issn }}"
          target="_blank"
          >ISSN Portal</a
        ><br />
      </div>
      <div id="jnl_eissn" class="mb-3 portal" *ngIf="data.jnl_eissn">
        <a
          href="https://portal.issn.org/resource/ISSN/{{ data.jnl_eissn }}"
          target="_blank"
          >eISSN Portal</a
        ><br />
      </div>
      <div id="jnl_url" class="mb-3 portal" *ngIf="data.jnl_eissn">
        <a href="{{ data.jnl_url }}" target="_blank">Site da Revista</a><br />
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <!-- Pagin 1-->
      <div *ngIf="page === '1'">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <app-label
                [label]="'Nome da publicação'"
                [value]="data.jnl_name"
              ></app-label>
            </div>
            <div class="col-12 col-lg-6">
              <app-label
                [label]="'Abreviatura'"
                [value]="data.jnl_name_abrev"
              ></app-label>
            </div>
            <div class="col-6 col-lg-3">
              <app-label [label]="'ISSN'" [value]="data.jnl_issn"></app-label>
            </div>

            <div class="col-6 col-lg-3">
              <app-label [label]="'eISSN'" [value]="data.jnl_eissn"></app-label>
            </div>

            <div class="col-12 col-lg-3">
              <app-label
                [label]="'Vigências'"
                [value]="data.jnl_ano_inicio + ' - ' + data.jnl_ano_final"
              ></app-label>
            </div>

            <div class="col-12 col-lg-3">
              <app-label
                [label]="'Cidade'"
                [value]="data.geo.city.name"
              ></app-label>
            </div>

            <div class="col-12 col-lg-3">
              <app-label
                [label]="'Cidade - Latitude'"
                [value]="data.geo.city.lat"
              ></app-label>
            </div>

            <div class="col-12 col-lg-3">
              <app-label
                [label]="'Cidade - Longitude'"
                [value]="data.geo.city.long"
              ></app-label>
            </div>

            <div class="col-12">
              <app-label
                [label]="'Link da Revista'"
                [value]="data.jnl_url"
              ></app-label>
            </div>

            <div class="col-12 col-lg-3">
              <app-label
                [label]="'Pais'"
                [value]="data.geo.country.name"
              ></app-label>
            </div>

            <div class="col-12 col-lg-6" *ngIf="data.responsabilidade">
              <app-label
                [label]="'Responsabilidade'"
                [value]="data.responsabilidadee"
              ></app-label>
            </div>


            <div class="col-12 col-lg-3" *ngIf="data.periodicidade">
              <app-label
                [label]="'Periodicidade'"
                [value]="data.periodicidade"
              ></app-label>
            </div>
          </div>
        </div>

        <div >

        </div>

        <div *ngIf="data.qualis">
          <label class="small">Qualis</label>
          <br /><b>{{ data.qualis }}</b>
          <br />
        </div>

        <!-- Pais -->
        <app-basket-select [data]="data.worksID"></app-basket-select>
      </div>
      <!-- Pagin 2-->
      <div *ngIf="page === '2'">
        <div class="container" *ngIf="data.issue_years">

          <app-basket-select [data]="data.worksID"></app-basket-select>

          <div *ngFor="let ano of data.issue_years" class="row">
            <div class="col-12">
              <h2 class="mt-3">{{ ano }}</h2>
            </div>

            <div>Pubs</div>
            <div *ngFor="let item of data.issue">
              <li *ngIf="item.YEAR == ano">
                <span>
                  <a
                    [routerLink]="['/v/' + item.ID]"
                    routerLinkActive="router-link-active"
                    class="link"
                  >
                    <span *ngIf="item.VOL">{{ item.VOL }}</span>
                    <span *ngIf="item.NR">, {{ item.NR }}</span>
                  </a>
                </span>
              </li>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagin 3-->
      <div *ngIf="page === '3'">
        <h1>Indicadores</h1>
        <app-journal-icr-producao-ano [jid]="data.id_jnl"></app-journal-icr-producao-ano>
      </div>
      <!-- Pagin 4-->
      <div *ngIf="page === '4'">
        <app-icr-producao-journal-author
          [jid]="data.id_jnl"
        ></app-icr-producao-journal-author>
      </div>
    </div>

    <div style="height: 200px"></div>
  </div>
</div>
