<app-header *ngIf="header" [header]="header"></app-header>
<app-navbar></app-navbar>

<section class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <h1 class="mb-3">Experimento do Pequeno Mundo</h1>
      <p class="mb-4">A teoria propõe que qualquer pessoa no planeta pode estar conectada a qualquer outra através de, no máximo, seis intermediários (ou seja, cinco conexões entre elas). A ideia central é que a rede de relacionamentos humanos é pequena e interconectada o suficiente para permitir essas ligações curtas.</p>
      <hr>
      <p>Informe o nome de dois autores, que o sistema irá buscar a conexões para conectar as pessoas.</p>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- Autor Principal -->
        <div class="mb-3 position-relative">
          <label for="author" class="form-label">Origem</label>
          <input
            id="author"
            type="text"
            class="form-control"
            formControlName="author"
            placeholder="Digite nome do autor"
            autocomplete="off"
            [class.is-invalid]="
              authorCtrl.invalid && (authorCtrl.dirty || authorCtrl.touched)
            "
          />
          <ul
            *ngIf="suggestionsAuthor.length"
            class="list-group position-absolute w-100"
            style="z-index: 1000; max-height: 200px; overflow-y: auto"
          >
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let item of suggestionsAuthor"
              (click)="selectAuthor(item)"
            >
              {{ item.name }}
            </li>
          </ul>
          <div
            *ngIf="
              authorCtrl.invalid && (authorCtrl.dirty || authorCtrl.touched)
            "
            class="invalid-feedback d-block"
          >
            <span *ngIf="authorCtrl.errors?.['required']"
              >Selecione um autor.</span
            >
          </div>
        </div>

        <!-- Outro Autor -->
        <div class="mb-3 position-relative">
          <label for="coauthor" class="form-label">Destino (Alvo)</label>
          <input
            id="coauthor"
            type="text"
            class="form-control"
            formControlName="coauthor"
            placeholder="Digite nome do outro autor"
            autocomplete="off"
            [class.is-invalid]="
              coauthorCtrl.invalid &&
              (coauthorCtrl.dirty || coauthorCtrl.touched)
            "
          />
          <ul
            *ngIf="suggestionsCoauthor.length"
            class="list-group position-absolute w-100"
            style="z-index: 1000; max-height: 200px; overflow-y: auto"
          >
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let item of suggestionsCoauthor"
              (click)="selectCoauthor(item)"
            >
              {{ item.name }}
            </li>
          </ul>
          <div
            *ngIf="
              coauthorCtrl.invalid &&
              (coauthorCtrl.dirty || coauthorCtrl.touched)
            "
            class="invalid-feedback d-block"
          >
            <span *ngIf="coauthorCtrl.errors?.['required']"
              >Selecione outro autor.</span
            >
          </div>

          <h6 class="mt-5">Referências</h6>
          <p class="small">KARINTHY, Frigyes. CHAINS. In: KARINTHY, Frigyes. Everything is different. Budapeste: Officina, 1929.</p>
          <p class="small">MILGRAM, Stanley. The small-world problem. Psychology Today, New York, v. 2, n. 1, p. 60–67, 1967.</p>

        </div>

        <!-- Enviar -->
        <div class="text-end">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="contactForm.invalid"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6 col-lg-6" *ngIf="data">
      Origen: {{ data.origin }}<br />
      Destino: {{ data.target }}<br />
      Distância: {{ data.distance }}<br />
      <li *ngFor="let step of data.path">
        {{ step.step }} - {{ step.node }}
      </li>
    </div>
  </div>
</section>

<app-footer></app-footer>
